.container-nav{
    background-color: rgb(32, 107, 32);
}
.body{
    background-color: rgb(32, 107, 32);
}
.history{
    margin-left: 3rem;
}
.mouse{
    margin-left: 3rem;
}
.dog{
    margin-left: 3rem;
}
.homelander{
    margin-left: 3rem;
}